profiles {
  local {
    process.executor = "local"

    // IMPORTANT: local work dir must be POSIX
    workDir = "/home/jupyter/workspaces/allofusgwasonmetabolictraits/urvashi_analysis/nf_work_local/prs_nf_test_all_chr_1"

    params {
      outdir       = "/home/jupyter/workspaces/allofusgwasonmetabolictraits/urvashi_analysis/prs_out_local"
      weights_glob = "/home/jupyter/workspaces/allofusgwasonmetabolictraits/urvashi_analysis/inputs/test/*.tsv.gz"
      pfile_dir    = "/home/jupyter/workspaces/allofusgwasonmetabolictraits/urvashi_analysis/pgen_dir"
      pfile_pref   = "snpqc.chr{chrom}"
      chroms       = (1..22)   // keep small for testing
    }

    process.stageInMode  = "symlink"
    process.stageOutMode = "copy"
  }
}

process {
  withName: BUILD_MATRIX {
    memory = '24 GB'
    cpus   = 4
  }
}
